<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jcasey.life">

    <application
        android:icon="@drawable/life"
        android:label="Conway&apos;s Game of Life"
        android:title="">

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"></activity>
        <activity
            android:name=".AboutActivity"
            android:label="About"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>